In [17]:
import pandas as pd
pd.__version__

'2.2.3'

In [18]:
import requests

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
response = requests.get(url)

# saving data
with open("laptops.csv", "wb") as file:
    file.write(response.content)

#getting overview
df = pd.read_csv("laptops.csv")
df.head(2)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0

In [19]:
# number of records in df
num_records = df.shape[0]

print(f"Number of records: {num_records}")

Number of records: 2160

In [20]:
# finding number of unique brands
unique_brands = df['Brand'].nunique()
print("Number of unique brands:", unique_brands)

Number of unique brands: 27

In [21]:
missing_values_count = df.isna().sum()
print(missing_values_count)

columns_with_missing_values = missing_values_count[missing_values_count > 0].count()

print("Number of columns with missing values:", columns_with_missing_values)

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64
Number of columns with missing values: 3

In [22]:
# filter for Dell notebooks and find the maximum final price
max_dell_price = df[df['Brand'] == 'Dell']['Final Price'].max()

print("Maximum final price of Dell notebooks:", max_dell_price)

Maximum final price of Dell notebooks: 3936.0

In [23]:
# calculate median of 'Screen' column before filling missing values
median_screen = df['Screen'].median()
print("Median value of Screen column:", median_screen)

# calculate most frequent value (mode) of 'Screen' 
most_frequent_screen = df['Screen'].mode()[0]
print("Most frequent value of Screen column:", most_frequent_screen)

# fill missing values in 'Screen' with most frequent value
df['Screen'] = df['Screen'].fillna(most_frequent_screen)

# calculate the median of 'Screen' again after filling missing values
median_screen2 = df['Screen'].median()
print("Median 2 value of Screen column:", median_screen2)
print("No. The value did not change")

Median value of Screen column: 15.6
Most frequent value of Screen column: 15.6
Median 2 value of Screen column: 15.6
No. The value did not change

In [14]:
import numpy as np

# select "Innjoo" laptops
innjoo_laptops = df[df['Brand'] == 'Innjoo']

# numpy array
X = innjoo_laptops[['RAM', 'Storage', 'Screen']].values

# matrix-matrix-multiplication 
XTX = X.T @ X

# inverse of XTX 
XTX_inv = np.linalg.inv(XTX)

# array y
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# calculating w
w = XTX_inv @ X.T @ y

# sum of elements of w
result = w.sum()
print(result)

91.29988062995753